:root {
    --primario: #9927DB;
    --primarioOscuro: #7F21B5;
    --secundario: #EBE100;
    --secundarioOscuro: #DBD000;
    --blanco: #FFFFFF;
    --negro: #000000;

    --fuentePincipal: 'Ubuntu', sans-serif;

}